<h3>Add a new Merchant</h3>

<form method="post" action="/merchants">
  <label for="name">Please enter the name of the new merchant:</label>
  <input type="text" name="name" />
  <input type="submit" name="Add Merchant" />
  
</form>