<!DOCTYPE html>
<html lang="en-GB">

<head>

  <title>Money Cash Board</title>

</head>
<body>
<nav>
  <a href="/">Home</a>
  <a href="/transactions">Transactions</a>
  <a href="/tags">Tags</a>
  <a href="/merchants">Merchants</a>
  <a href="/accounts">Accounts</a>
</nav>

<section id='content'>
  <p>Your budget is: <%= settings.budget %></p>
  <h3>Total Spent: £ <%= Transaction.total_spent %></h3>
  <h3>Total balance of accounts: £<%= Account.total_balance %></h3>
    <% if Transaction.total_spent > settings.budget %>
      <p>Warning you have exceeded your budget</p>
    <% end %>

  <%= yield %> 
</section>

</body>


</html>