<!DOCTYPE html>
<html lang="en-GB">

<head>

  <title>Money Cash Board</title>

</head>
<body>
<nav>
  <a href="/transactions">Transactions</a>
</nav>

<section id='content'>
  <%= yield %> 
</section>

</body>


</html>