header {
  height: 60px;
  top: 0;
  background-color: black;
  font: impact
  font-size: 60px;
  color: red;
  position: fixed;
}

.masthead {
  margin: 0;
  padding: 10px;
}

.content {
  margin: 10px;
  padding: 100px 0 0 0;
  width: 15%;
  position: fixed;
}

.content p {
  font-size: 30px;
  color: red;
}

.yield {
  margin: 30px;
  padding: 100px 0 0 20%;
}

nav {
  margin: 0;
  width: 100%;
}

nav ul {
  margin: 0 ;
  padding: 0px;
  list-style: none;
}

nav ul li {
  float: left;
  width: 252px;
  height: 40px;
  background-color: grey;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: white;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

nav ul li a:hover {
  background-color: green;
}

#content {
  padding-left: 20px;
}

.seperate {
  padding: 280px 0 0 0;
}
/*.form1 {
  padding: 0 70% 0 0;
  display: inline-block;
}

.form2 {
  padding: 0 0 0 60%;
  display: inline-block;
}*/

.container {
    width: 100%;
    position: fixed;
    background-color: white;
}

.left-element {
    width: 22%;
    padding: 50px 50% 0 0;
    display: inline-block;
    position: absolute;
}

.right-element {
    width: 40%;
    padding: 50px 0 0 30%;
    display: inline-block;
    position: absolute;
}

.fixed {
  position: fixed;
  background-color: white;
}
/*==========================================================*/
/*======================= TABLES ============================*/
/*==========================================================*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: lightgrey}

th {
    background-color: black;
    color: red;
}