<h1>Accounts</h1>

<hr />

<h4>Add Account</h4>

<form method="post" action="/accounts">
  <label for="name">Enter the name of the account</label>
    <input type="text" name="name" />

  <label for="balance">Enter the balance of the account in pence</label>
    <input type="number" name="balance" />

  <input type="Submit" name="Add Account" />
</form>
<hr />

<table>
  <tr>
    <th>Account</th>
    <th>Balance</th>
    <th></th>
    <th></th>
  </tr>
  <% for account in @accounts %>
  <tr>
    <td><%= account.name %></td>
    <td><%= (account.balance.to_f.round(2) / 100) %></td>
    <td><form method="get" action="/accounts/<%= account.id %>/edit">
        <input type="submit" value="Edit"/>
      </form>
    </td>
    <td><form method="post" action="/accounts/delete/<%= account.id %>">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
</table>
