<h3>Add a new Tag</h3>

<form method="post" action="/tags">
  <label for="name">Please enter the name of the new tag:</label>
  <input type="text" name="name" />
  <input type="submit" name="Add Tag" />
  
</form>