<h1>Transactions</h1>
<hr />

<h3>Registered Transactions</h3>
<% @transactions.each do |transaction| %>
  <p>Merchant: <%= transaction.merchant.name  %></p>
  <p>Tag: <%= transaction.tag.name  %></p>
  <p>Value: <%= transaction.value %></p>
  <hr />
  <% end %>